#container2{
    display: flex;
    flex-direction: column;
    height: 1580px;
}

.ibox1{
    flex-direction: column;
}

.ibox2{
   margin-top: 500px;
   margin-bottom: 12px;
    padding: 87px 0px;
}
.ibox3{
    padding: 87px 0px;
    margin-bottom: 12px;
}
.ibox4{
    padding: 87px 0px;
    margin-bottom: 12px;
}

#container{
    flex-direction: column;
    align-items: center;
}

.box2 li{
    display: inline-block;
    white-space: nowrap;
}

.box2 nav{
    flex-wrap: wrap;
}

.sbox1 h1{
    font-size: 25px;
}

#container3{
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

.fbox2 h4{
    margin: 0px 423px;
    padding: 0px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fbox3{
    padding: 0px 0px;
    margin: 0px 0px;
    margin-top: 70px;
}

.fbox2 h5{
    margin-top: 2px;
}

.ibox5{
    flex-direction: column;
    margin: 740px 0px;
    padding: 0px 0px;
}

.ibox6{
    margin-bottom: 12px;
    padding: 87px 0px;

}
.ibox7{
    margin-bottom: 12px;
    padding: 87px 0px;

}
.ibox8{
    margin-bottom: 12px;
    padding: 87px 0px;

}