* h1{
    color: rgb(0, 255, 157);
    font-weight: bold;
}

body{
    height: 1000px;
}

#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box2{
    padding-left: 68px;
}


.box1 img{
    height: 100px;
}

.box2 li{
    display: inline;
    padding-right: 75px;
}

.box2 nav{
    display: flex;
    align-items: center;
    position: sticky;
    margin-top: 34px;
}

.box3 input{
    margin-top: 30px;
}

#container2{
    height: 744px;
    margin-top: 10px;
    background-image: url(https://cdn.motor1.com/images/mgl/4oB2q/s1/photo-by-jason-brackett-courtesy-of-club-motorsports.jpg);
    background-size: cover;
}


.sbox1{
    display: flex;
    justify-content: center;
}

.sbox1 h1{
    font-size: 80px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
    opacity: 0.7;
    border-radius: 10px;
}

.ibox1{
    display: flex;
    justify-content: space-around;
    height: 271px;
}

.ibox2{
    width: 400px;
    background-image: url(https://media.evo.co.uk/image/private/s--NmcZjsHk--/v1556222747/evo/2019/03/aventador-svj-roadster-front-dynamic_02.jpg);
    background-size: cover;
    border-radius: 10px;
}

.ibox3{
    background-image: url(https://performancedrive.com.au/wp-content/uploads/2021/07/2022-Lamborghini-Aventador-LP-780-4-Ultimae-roof-1536x994.jpeg);
    background-size: cover;
    width: 400px;
    border-radius: 10px;
}

.ibox4{
    background-image: url(https://media.evo.co.uk/image/private/s--0-4xbXfH--/v1595330613/evo/2020/07/Lamborghini%20Aventador%20SVJ%20Xago%20Edition%20-11.jpg);
    background-size: cover;
    width: 400px;
    border-radius: 10px;
}





.ibox5{
    display: flex;
    justify-content: space-around;
    height: 271px;
    margin-top: 40px;
}

.ibox6{
    width: 400px;
    background-image: url(https://www.supercars.net/blog/wp-content/uploads/2020/10/2019-Lamborghini-Aventador-SVJ-018-1600.jpg);
    background-size: cover;
    border-radius: 10px;

}


.ibox7{
    width: 400px;
    background-image: url(https://www.carscoops.com/wp-content/uploads/2018/03/Lamborghini-Aventador.jpg);
    background-size: cover;
    border-radius: 10px;

}


.ibox8{
    width: 400px;
    background-image: url(https://www.zero2turbo.com/wp-content/uploads/2018/09/Lamborghini-Aventador-SVJ-Pricing-South-Africa.jpg);
    background-size: cover;
    border-radius: 10px;

}




#container3{
    display: flex;
    height: 123px;
    margin-top: 23px;
}

.fbox1 img{
    height: 100px;
    margin-top: 12px;
}

.fbox2 h4{
    margin: 45px 8px;
}

.fbox2 h5{
    margin: -63px 500px;
}

.fbox3 li{
    display: inline;
    font-size: 45px;
    padding-right: 20px;
}

.fbox3{
    margin-left: -320px;
    margin-top: 15px;
}
